{{ $s := newScratch }}
{{ $critical := resources.Get "sass/critical.scss" | toCSS | minify }}
<style type="text/css">
	{{ $critical.Content | safeCSS }}
</style>
{{ if .Site.IsServer }}
    {{ $s.Set "style" (resources.Get "sass/main.scss" | toCSS "style/main.css" ) }}
{{ else }}
	{{ $s.Set "style" (resources.Get "sass/main.scss" | toCSS "style/main.css" | minify | fingerprint ) }}
{{ end }}
{{ with $s.Get "style" }}
	<link 
	rel="stylesheet" href="{{ .Permalink }}"
		{{- with .Data.Integrity }}
			integrity="{{ . }}"
	        crossorigin="anonymous"
		{{- end -}}	
	>
	<noscript><link rel="stylesheet" href="{{ ($s.Get "style").Permalink }}"></noscript>
{{ end }}
