{{ define "main" }}
<article class="rp-Entry">
	<div class="rp-Entry__head">
		<h1 class="rp-Entry__title">
			{{ .Title }}
		</h1>
		<div class="rp-Entry__meta">
			<div class="rp-Entry__time">
				<time datetime="{{ .Date }}">{{ dateFormat "Written on January 2 2006" .Date }}</time> 
				{{ if ne .Lastmod .Date }}
				<div class="rp-Entry__time__small">
					<time datetime="{{ .Lastmod }}">Last modified on {{ .Lastmod.Format "January _2 2006" }}</time>
				</div>
				{{ end }}
			</div>
			<div class="rp-Entry__tags">
	    		{{ range .Params.tags }}
    				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class='rp-Tag'>{{ . }}</a>
    			{{ end }}
			</div>
		</div>
	</div>
	<div class="rp-Entry__content wysiwyg-content">
		{{ .Content }}
	</div>
	<div class="rp-Entry__comments">
		{{ template "_internal/disqus.html" . }}
	</div>
</article>
{{ end }}