html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

figcaption {
  text-align: left; }

.background-poly {
  position: relative;
  z-index: 1; }
  .background-poly:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    right: 10%;
    top: 5%;
    background: #e6d223;
    z-index: -1;
    transform: skewX(-17deg); }

.background-poly.-cover:after, .background-poly--cover:after {
  width: 105%;
  height: 120%;
  right: -2.5%;
  top: -10%; }

.rp-Tag {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 14px;
  font-weight: 700;
  font-size: 0.5em;
  text-transform: lowercase;
  color: #44b6ae;
  border: 1px solid #8cd4cf;
  background: #ebf4f3;
  margin-bottom: 6px; }
  .rp-Tag:before {
    content: "#"; }
  .rp-Tag.rp-Tag--gauge {
    position: relative;
    overflow: hidden; }
    .rp-Tag.rp-Tag--gauge span {
      transition: left 0.1s ease-out 0, width 0.25s ease-out 0.1s;
      transition: width 350ms;
      box-sizing: border-box;
      display: block;
      padding: 3px 0;
      top: 0;
      left: 0;
      position: absolute;
      background: #44b6ae;
      color: #ffffff;
      font-weight: 700;
      text-transform: lowercase;
      overflow: hidden;
      white-space: nowrap; }
      .rp-Tag.rp-Tag--gauge span:before, .rp-Tag.rp-Tag--gauge span:after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 1px; }

@media screen and (min-width: 760px) {
  .rp-Tag {
    font-size: 0.7em; } }

.rp-Entry {
  padding: 40px 0;
  max-width: 720px;
  margin: 0 auto; }
  @media screen and (min-width: 1170px) {
    .rp-Entry {
      padding: 10px 0 40px 0; } }

.rp-Entry__comments {
  margin-top: 3em;
  padding-top: 0.5em;
  border-top: 1px dashed #44b6ae; }

.rp-Entry__head {
  margin-bottom: 40px;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 1170px) {
    .rp-Entry__head {
      text-align: left; }
      .rp-Entry__head .entry-thumb {
        padding-left: 50px;
        text-align: left; } }

.rp-Entry__title {
  font-size: 1.6666666667rem;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 7px; }

.rp-Entry__title--fat {
  font-weight: 600;
  font-size: 3.3333333333rem; }

.rp-Entry__tags {
  margin: 5px 0; }

.rp-Project__content {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px; }

.rp-Project__desc a {
  text-decoration: underline; }

.rp-Project__title {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase; }
  .rp-Project__title a {
    transition: color 150ms; }
    .rp-Project__title a:hover {
      color: #44b6ae; }

@media screen and (min-width: 760px) {
  .rp-Project__content {
    text-align: left; } }

.rp-InputGroup {
  margin: 1.6em 0; }
  .rp-InputGroup input, .rp-InputGroup textarea {
    position: relative;
    z-index: 1;
    border: 2px transparent solid;
    background: white;
    resize: none;
    width: 100%;
    outline: none;
    padding: 0.5em;
    transition: 100ms; }
  .rp-InputGroup textarea {
    min-height: 3em;
    font-family: "Open Sans", sans-serif; }
  .rp-InputGroup [placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0.5s ease;
    opacity: 0; }

.rp-InputGroup--fancy {
  position: relative; }
  .rp-InputGroup--fancy input:focus, .rp-InputGroup--fancy textarea:focus {
    border-color: #44b6ae; }
    .rp-InputGroup--fancy input:focus + label, .rp-InputGroup--fancy textarea:focus + label {
      transform: translate(0, -100%); }
  .rp-InputGroup--fancy input.rp-input--error, .rp-InputGroup--fancy textarea.rp-input--error {
    border-color: #ff4e00; }
    .rp-InputGroup--fancy input.rp-input--error ~ .rp-InputGroup__error, .rp-InputGroup--fancy textarea.rp-input--error ~ .rp-InputGroup__error {
      transform: translate(0, -100%); }
  .rp-InputGroup--fancy label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    font-size: 0.5em;
    padding: 2px 4px;
    background: #e6d223;
    transition: transform 100ms;
    background: #44b6ae;
    left: 0; }
  .rp-InputGroup--fancy label, .rp-InputGroup--fancy .rp-InputGroup__error {
    position: absolute;
    color: #ffffff;
    top: 0;
    z-index: 0;
    font-size: 0.7em;
    padding: 2px 4px;
    transition: transform 100ms; }
  .rp-InputGroup--fancy .rp-InputGroup__error {
    background: #ff4e00;
    color: white;
    right: 0; }

.adjust-textarea-height {
  font-size: 1em; }
  .adjust-textarea-height .fill-me {
    display: block;
    opacity: 0;
    padding: 0.5em;
    border: 2px transparent solid;
    min-height: 7em; }
    .adjust-textarea-height .fill-me:after {
      content: "m";
      display: block;
      font-size: 1em;
      opacity: 0; }
  .adjust-textarea-height textarea {
    position: absolute !important;
    min-height: 0 !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
