.background-poly {
  position: relative;
  z-index: 1; }
  .background-poly:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    right: 10%;
    top: 5%;
    background: #e6d223;
    z-index: -1;
    transform: skewX(-17deg); }

.background-poly.-cover:after, .background-poly--cover:after {
  width: 105%;
  height: 120%;
  right: -2.5%;
  top: -10%; }

.rp-Tag {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 14px;
  font-weight: 700;
  font-size: 0.5em;
  text-transform: lowercase;
  color: #44b6ae;
  border: 1px solid #8cd4cf;
  background: #ebf4f3;
  margin-bottom: 6px; }
  .rp-Tag:before {
    content: "#"; }
  .rp-Tag.rp-Tag--gauge {
    position: relative;
    overflow: hidden; }
    .rp-Tag.rp-Tag--gauge span {
      transition: left 0.1s ease-out 0, width 0.25s ease-out 0.1s;
      transition: width 350ms;
      box-sizing: border-box;
      display: block;
      padding: 3px 0;
      top: 0;
      left: 0;
      position: absolute;
      background: #44b6ae;
      color: #ffffff;
      font-weight: 700;
      text-transform: lowercase;
      overflow: hidden;
      white-space: nowrap; }
      .rp-Tag.rp-Tag--gauge span:before, .rp-Tag.rp-Tag--gauge span:after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 1px; }

@media screen and (min-width: 760px) {
  .rp-Tag {
    font-size: 0.7em; } }
