<article class="rp-entry">
	<div class="entry-head">
		<h1 class="entry-title">
			<a href="{{ .dot.Permalink }}">{{ .dot.Title }}</a>
		</h1>
		<div class="entry-meta">
			<div class="entry-time">
				{{ dateFormat "This is 2006, January _2" .dot.Date }}
			</div>
			<div class="entry-tags">
	    		{{ range .dot.Params.tags }}
    				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class='rp-taxo'>{{ . }}</a>
    			{{ end }}
			</div>
		</div>
	</div>
	<div class="entry-excerpt wysiwyg-content">
	{{ if eq .template "single" }}
		{{ .dot.Content }}
	{{ else }}
		{{ if .dot.Truncated }}
			{{ .dot.Summary }}
			<a href="{{ .dot.Permalink }}" class="rp-cta rp-read-more">Read more ... </a>
		{{ else }}
			{{ if .dot.Params.summary }}{{ .dot.Params.summary }}{{ else }}{{ .dot.Summary }}{{ end }}
		{{ end }}
	{{ end}}
	</div>
	{{ if eq .template "single"}}
	<div class="rp-comments">
		{{ template "_internal/disqus.html" .dot }}
	</div>
	{{ end }}
</article>