<article class="rp-entry">
	<div class="entry-head">
		<h1 class="entry-title">
			<a href="{{ .post.Permalink }}">{{ .post.Title }}</a>
		</h1>
		<div class="entry-meta">
			<div class="entry-time">
				{{ dateFormat "Monday, Jan 2, 2006" .post.Date }}
			</div>
			<div class="entry-tags">
	    		{{ range .post.Params.tags }}
    				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class='rp-taxo'>{{ . }}</a>
    			{{ end }}
			</div>
		</div>
	</div>
	<div class="entry-excerpt wysiwyg-content">
		{{ if eq .template "single" }}
			{{ .post.Content }}
		{{ else }}
			{{ if .post.Params.Summary }}{{ .post.Params.summary }}{{ else }}{{ .post.Summary }}{{ end }}
		{{ end }}
	</div>
</article>