{{ define "main" }}
	<div class="rp-Entry">
		<div class="rp-page-header">
			<h1>{{ .Title }}</h1>
		</div>
		<div class="rp-Entry__content user-content rp-Huge">
			{{ .Content }}
		</div>
		
		{{ $badges := getJSON (printf "%sdata/badges.json" .Site.BaseURL) }}
		<div class="rp-Badges">
		{{ range $badges}}
			<div 
				class="rp-Badge {{ if .Big }}rp-Badge--large{{ end }} {{ if .Full }}rp-Badge--full{{ end }}"
				data-name="{{.Name}}"
			>
				<div class="flip-container">
					<div class="flipper">
						<div class="rp-Badge__front flipper__front">
							<i class="icon-{{ .Icon }}"></i>
						</div>
						<div class="rp-Badge__back flipper__back">
							Lorem ipsum dolor sit amet.
						</div>
					</div>
				</div>
			</div>
		{{ end }}
		</div>
	</div>
{{ end }}