{{ define "main" }}
	<div class="rp-Entry">
		<div class="rp-page-header">
			<h1>{{ .Title }}</h1>
		</div>
		<div class="rp-Entry__content user-content">
			{{ .Content }}
		</div>
	</div>
	<div class="rp-Badges">
	{{ range $index, $element := where $.Site.Data.badges "Draft" "!=" true }}
		{{ if not .Hide }}
		<div 
			class="rp-Badge {{ if .Big }}rp-Badge--large{{ end }} {{ if .Full }}rp-Badge--full{{ end }}"
			data-name="{{ .Name }}"
			id="{{ $index }}"
		>
			<div class="flip-container">
				<div class="flipper">
					<div class="rp-Badge__front flipper__front">
						<i class="icon-{{ .Icon }}"></i>
					</div>
					<div class="rp-Badge__back flipper__back">
						{{ .Text }}
					</div>
				</div>
			</div>
		</div>
		{{ end }}
	{{ end }}
	</div>
{{ end }}