{{ define "main" }}
<style>
	table{
		text-align: left;
	}
	td, th{
		padding:3px;
	}
	tbody tr{
	    font-size: 15px;
	    color: #808080;
	    line-height: 1.2;
	    font-weight: unset;
	    height:30px;
	    background-color:#ccc;
	}
	tbody tr:nth-child(even){
		background-color:#f5f5f5;
	}
</style>
<div class="rp-container user-content">
	<h1>{{ .Title }}</h1>
	<table>
		<tr>
			<th>.Title</th><th>{{ .Title }}</th>
		</tr>
		<tr>
			<td>.Permalink</td><td>{{ .Permalink }}</td>
		</tr>
		<tr>
			<td>.Type</td><td>{{ .Type }}</td>
		</tr>
		<tr>
			<td>.Kind</td><td>{{ .Kind }}</td>
		</tr>
		<tr>
			<td>.Section</td><td>{{ .Section }}</td>
		</tr>
	</table>
	<h3>
		Partials
	</h3>
	
	{{ $firstname := "Regis" }} 
	{{ $lastname := "Philibert" }}
	{{ $fullname := delimit (slice $firstname $lastname) " " }}
	{{ $fullname2 := add " " $lastname | add $firstname }}
	<h4>delimit</h4>
	{{ $fullname }}
	<h4>add</h4>
	{{ $fullname2 }}
	{{ range .Resources }}
	<article>
		<strong>
			.ResourceType: {{ .ResourceType }}<br>
			.RelPermalink: {{ .RelPermalink }}<br>
			.Permalink: {{ .Permalink}}
		</strong>
		<code>
			<small>{{ printf "%#v" . }}</small>
		</code>
	</article>
	<hr>
	{{ end }}

	<h2>.Site</h2>
	<code>
		{{ printf "%#v" .Site }}
	</code>

	<h2>.Page</h2>
	<code>
		{{ printf "%#v" . }}
	</code>
</div>
{{ end }}