{{ define "main" }}
{{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) }}
<div class="rp-page-header">
	<h1>Blog{{if ne .Kind "section" }}#{{ .Title }}{{ if gt .Paginator.PageNumber 1 }}::{{.Paginator.PageNumber}}{{ end }}{{ end }}</h1>
</div>
<div class="rp-Loop">
	{{ range $paginator.Pages }}
		{{ if .Content }}
		<article class="rp-Entry">
			<div class="rp-Entry__main">
				
				{{ partial "post/head.html" . }}
				
				<div class="rp-Entry__content wysiwyg-content">
					{{ if .Params.featured }}
					<div class="rp-Entry__thumbnail">
						{{ partial "img.html" (dict "file" .Params.featured "content" .) }}
					</div>
					{{ end }}
					{{ if (or (strings.Contains .RawContent "<!--more-->") (not .Description)) }}
						{{ .Summary }}
					{{ else }}
						{{ .Description | markdownify }}
					{{ end }}
					<div class="rp-More">
						<a href="{{ .Permalink }}" class="rp-CTA">Read more&hellip; </a>
					</div>
				</div>
			</div>
		</article>
		{{ end }}
	{{ end }}
</div>
{{ template "_internal/pagination.html" . }}
{{ end }}