<div class="rp-contact">
    <form id="rp-contact-form" action="" class="rp-form">
        <div class="rp-contact-inputs">
            <div class="rp-input-wrapper">
                <input type="text" class="rp-input" id="rpContactEmail" name="rpContactEmail" placeholder='{{ i18n "contact_email" }}'/>
                <label class="rp-label" for="">{{ i18n "contact_email" }}</label>
                <div class="rp-error-message">{{ i18n "contact_email_error" }}</div>
            </div>
            <div class="rp-input-wrapper">
                <div class="adjust-textarea-height">
                    <span class="rp-input fill-me"></span>
                    <textarea class="rp-input" id="rpContactMessage" name="rpContactMessage" placeholder='{{ i18n "contact_message" }}'></textarea>
                    <label class="rp-label" for="">{{ i18n "contact_message" }}</label>
                    <div class="rp-error-message">{{ i18n "contact_message_error" }}</div>
                </div>
            </div>
        </div>
        <div class="rp-input-wrapper">
            <button id="rp-contact-form-submit"
                data-default-message='{{ i18n "contact_submit" }}'
                data-sending-message='{{ i18n "contact_sending" }}'
                data-success-message="---- (๑˃̵ᴗ˂̵)و thanks! ----" 
                class="rp-button rp-button--hero"
                type="submit">
                {{ i18n "contact_submit" }}
            </button>
        </div>
    </form>
</div>