<header class="rp-header">
    {{ partial "language-switch" . }}
    <div class="rp-container">
        <a href="{{ .Site.Home.Permalink }}" class="rp-brand">
            <img class="rp-logo" src="{{ partial "asset" (dict "site" .Site "asset" "images/regisphilibert_logo.svg") }}" alt="Regis Philibert's logo">
            <h2 class="rp-baseline">
                {{ i18n "dev_title" }}
            </h2>

        </a>
        {{ partial "nav" . }}
        {{ with .Site.Data.socials }}
            <div class="rp-Socials">
                {{ range first 2 . }}
                {{ partialCached "social" . .Name }}
                {{ end }}
            </div>
        {{ end }}
    </div>
    {{ template "emotion" . }}
</header>

{{ define "emotion" }}
    {{ with .Param "emotion" }}
        {{ with index $.Site.Data.emotions . }}
            {{ if .url }}
                <a href="{{ .url }}" title="{{ .title }}" target="_blank" class="rp-header__emoji">{{ .emoji }}</a>
            {{ else }}
                <span title="{{ .title }}" class="rp-header__emoji">{{ .emoji }}</span>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}