<header class="rp-header">
    {{ range .Translations }}
        <div class="rp-lang-switch">
            <a href="{{ .Permalink }}" class="no-ajax">{{ .Lang }}</a>
        </div>
    {{ end}}
    <div class="rp-container">
        <a href="{{ .Site.BaseURL }}" class="rp-brand">
            <img class="rp-logo" src="{{ partial "asset" (dict "site" .Site "asset" "images/regisphilibert_logo.svg") }}" alt="Regis Philibert's logo">
            <h2 class="rp-baseline">
                {{ i18n "dev_title" }}
            </h2>
        </a>
        {{ partial "nav" . }}
        {{ with .Site.Data.socials }}
            <div class="rp-Socials">
                {{ range first 2 . }}
                {{ partialCached "social" . .Name }}
                {{ end }}
            </div>
        {{ end }}
    </div>
</header>