<nav class="main-nav main-nav--poly main-nav--xs">
	<a data-section="project" href='{{ "/" | absLangURL }}'>Portfolio</a> <a class="" href="{{ "contact/" | absLangURL }}" data-section="contact">Contact</a>
</nav>
<nav class="main-nav main-nav--poly main-nav--xl">
	<p>
 		Bonjour, je suis <a href="{{ "a-propos/" | absLangURL }}" data-section="about">@regisphilibert</a>.
 	</p>
 	<p>
 		<a data-section="project" href='{{ "/" | absLangURL }}'>Je&nbsp;code&nbsp;des&nbsp;sites web.</a>
	</p>
    <p><a class="" href="{{ "contact/" | absLangURL }}" data-section="contact">On s'en parle</a>?</p>
</nav>