<nav class="main-nav main-nav--poly main-nav--xs" style="margin-bottom:-20px">
	<a data-section="project" href='{{ "/" | absLangURL }}'>Portfolio</a>
	<a data-section="about" href='{{ "about/" | absLangURL }}'>About</a>
	<a class="" href="{{ "contact/" | absLangURL }}" data-section="contact">Contact</a> 
	<a href="{{ "post/" | absLangURL }}" data-section="post" class="">Blog</a>
</nav>
<nav class="main-nav main-nav--poly main-nav--xl">
	<p>
		Hi, I'm <a href="{{ "about/" | absLangURL }}" data-section="about">@regisphilibert</a>.
	</p>
	<p>
		<a class="" data-section="project" href='{{ "/" | absLangURL }}'>I&nbsp;code&nbsp;websites</a>
	</p>
	<p>
		and <a href="{{ "post/" | absLangURL }}" data-section="post" class="">I blog about it.</a>
	</p>
	<p><a class="" href="{{ "contact/" | absLangURL }}" data-section="contact">Shall we talk</a>?</p>
</nav>