<meta property="og:site_name" content="{{ .Site.Params.Title }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ .Site.Params.twitter_handle }}">
{{ if eq .Language "fr" }}
	<meta property="og:locale" content="fr_FR">
{{ else }}
	<meta property="og:locale" content="en_US">
{{ end }}
{{ if .IsHome }}
	<meta property="og:title" content="{{ .Site.Params.Title }}">
	<meta name="twitter:title" content="{{ .Site.Params.Title }}">
	
	<meta property="og:description" content="{{ .Site.Params.Description }}">
	<meta name="twitter:description" content="{{ .Site.Params.Description }}">

	<meta name="og:url" content="{{ .Site.BaseURL }}">
	<meta property="og:image" content='{{ "images/rp_share.jpg" | absURL }}'>
	<meta name="twitter:image" content='{{ "images/rp_share.jpg" | absURL }}'>
{{ else }}
	<meta property="og:title" content="{{ .Title }}">
	<meta property="twitter:title" content="{{ .Title }}">

	<meta property="og:description" content="{{ default .Summary .Description }}">
	<meta name="twitter:description" content="{{ default .Summary .Description }}">
	
	<meta property="og:url" content="{{ .Permalink }}">
	{{ if .Resources.GetByPrefix "featured" }}
		{{ $image := .Resources.GetByPrefix "featured" }}
		<meta property="og:image" content='{{ $image.Permalink }}'>
		<meta name="twitter:image" content='{{ $image.Permalink }}'>
     	<meta property="og:image:width" content="{{ $image.Width }}">
     	<meta property="og:image:height" content="{{ $image.Height }}">
	{{ else }}
		<meta property="og:image" content='{{ "images/rp_share.jpg" | absURL }}'>
		<meta name="twitter:image" content='{{ "images/rp_share.jpg" | absURL }}'>
   	{{ end }}
{{ end }}

{{ if eq .Type "post" }}
	<meta property="og:type" content="article">
{{ else }}
	<meta property="og:type" content="website">
{{ end }}
