<div class="rp-project-content ">
	<div class="rp-project-title">
        {{ if eq .template "single" }}
        <span>
            {{ .dot.Title }}
        </span>
        {{ else }}
		<a href="{{ .dot.Permalink }}">
            {{ .dot.Title }}
        </a>
        {{ end }}
	</div>
	<div class="rp-project-desc">
		{{ .dot.Content }}
	</div>
	<div class="rp-project-meta">
        {{ range .dot.Params.project_tags }}
            <a href="{{ "/project_tags/" | relLangURL }}{{ . | urlize }}" class='rp-Tag'>{{ . }}</a>
        {{ end }}
	</div>
</div>
