<div class="row">
	{{ range .dot.Resources }}
		{{ $file := . }}
		{{ if not (strings.Contains .RelPermalink "featured.") }}
		<div class="col-md-12">
			<div class="rp-project-media has-outbound-links-1">
	        	<div class="rp-video-background" style="">
					{{ range $width, $size := $.dot.Site.Params.imagesizes }}
						{{ $image := $file.Resize (printf "%sx" $width)  }}
						<source srcset='{{ $image.RelPermalink}}' media='(max-width: {{ $width }}px)' />
					{{ end }}
					<img src="{{ .RelPermalink }}" alt="" />
	            </div>
	        </div>
		</div>
		{{ end }}
   	{{ end }}
</div>