<div class="rp-project release-container">
	<div class="mobile-block tablet-block">
		{{ partial "project/details" (dict "dot" .dot "template" .template) }}
	</div>
	<div class="rp-project-container">
		<div class="rp-project-gallery">
			{{ if eq .template "single"}}
				{{ partial "project/gallery" (dict "dot" .dot )}}
			{{ else }}
				{{ partial "project/featured" (dict "dot" .dot)}}
			{{ end }}
		</div>
        <div class="rp-project-sidebar">
            <div class="desktop-block">{{ partial "project/details" (dict "dot" .dot "template" .template) }}</div>
        </div>
	</div>
</div>