*{
    box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: $fwRegular;
    margin: 0;
}
a,
a:active,
a:hover,
a:focus {
  outline: none;
}

a{
    color:inherit;
}
hr{
    border-top:1px solid $cTurquoise;
    max-width:60vw;
    margin-right:auto;
    margin-left:auto;
}
html{
    font-size: 18px;
    line-height: $lh;
    @media screen and (min-width:$desktop) {
        font-size:22px;
    }
}
body{
    position: relative;
    font-family: $sans;
    color:$cBlack;
    background-color:$cBackground;
}
.rp-wrapper{
    background:$cBackground;
}
.rp-main{
    padding-top:30px;
    padding-bottom:30px;
}
.rp-data{
    display: none;
}

.rp-container{
    padding:0 10px;
    @media screen and (min-width:$xl) {
        padding:0 30px;
    }
}
$cssSelectorColor:DeepSkyBlue ;
$preBorderColor:#ece9e2;
//$preBorderColor:$cTurquoise;
$preBackgroundColor:#fffcf5;
.wysiwyg-content{
    pre{
        opacity: 0;
        margin-top:0;
        margin-bottom:22px;
    }
    .rp-code-wrapper{
        pre{
            opacity:1;
        }
    }
}
.rp-code-wrapper{
    position: relative;
    pre{
        transition:opacity 150ms;
        background-color: $preBackgroundColor;
        padding:10px;
        position: relative;
        border:1px solid $preBorderColor;
        border-radius: 5px;
    }
    &::before{
        content:attr(data-language);
        position: absolute;
        display: block;
        background:$bg;
        top:0;
        right:0;
        padding:0.2em 0.3em;
        color:$cBlack;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid $preBorderColor;
        z-index: 3;
    }
    @media screen and (min-width:$xl){
        font-size:0.8em;
    }
}
pre.language-nohighlight{
    font-size: 0.8rem;
    background-color: $preBackgroundColor;
    padding:10px;
    border:1px solid $preBorderColor;
    border-radius: 5px;
}
pre.language-less,
pre.language-css{
    .selector{
        color:$cssSelectorColor;
    }
    .token.variable{
        color:$cTurquoise;
    }
}