/* ==========================================================================
   CONTACT
   ========================================================================== */
.rp-contact{
    position: relative;
    .rp-discreet{
        margin-top:10px;
        text-align: center;
    }
    .rp-contact__success, .rp-contact__form{
        transition: opacity 300ms;
    }
    .rp-contact__success{
        display: none;
        font-weight: $fwLight;
        span{
            white-space: pre-wrap;
        }
        label{
            font-style: italic;
            font-weight: $fwSemiBold;
        }
    }
    @media screen and (min-width:$xl){
        .rp-contact__success{
            padding:1.6em 0;
            text-align: inherit;
        }
    }
}

.rp-form{
    .rp-form-message{
        display: block;
        margin-bottom:10px;
    }
    [type='submit']{
        outline: none;
        transition:300ms;
        text-transform: none;
        &[disabled]{
            transform:skew(-17deg);
        }
    }
}
.rp-button{
    border:0;
    background:$cTurquoise;
    padding:5px;
    text-transform: uppercase;
    color:white;
    display: inline-block;
    font-weight: $fwBold;
}
.rp-button--hero{
    display: block;
    width:100%;
    text-align: center;
}
.rp-input[disabled]{
    opacity: 0.5;
}