.main-nav-a-is-active{
    position: relative;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    z-index:1;
}
.main-nav{
    font-style: italic;
    font-size: 18px;
    line-height:1.6em;
    margin-top:10px;
    p{
        margin:0;
    }
    &.test{
        a:not(.raw){
            display: inline-block;
            position: relative;
            &:after{
                content:"";
                width:100%;
                position: absolute;
                background-color: currentColor;
                height:2px;
                display: block;
                bottom:4px;
            }
            &.is-active{
                &:after{
                    background-color: $cYellow;
                }
            }
        }
    }
    &.main-nav--poly{
        a:not(.raw){
            @extend .background-poly;
            &:hover{
                &:after{
                    background-color:$cYellow;
                }
            }
            &:after{
                transition:150ms;
                background-color:#ccc;
            }
            &:active{
                &:after{
                    transform:skew(0deg);
                }
            }
            .rp-splash & {
                &:active{
                    &:after{
                        transform:skew(0deg);
                    }
                }
            }
        }
    }
    @media screen and (min-width:$desktop){
        font-size:22px;
        max-width: 500px;
        margin:0 auto;
    }
    @media screen and (max-width:($xl - 1)) {
        p{
            display: inline-block;
        }
    }
    @media screen and (min-width:$xl) {
        p:first-child{
            margin-bottom:15px;
        }
        p{
            margin-bottom:10px;
        }
    }
    @media screen and (min-width:$xxl) {
        font-size:25px;
    }
}
.main-nav{
    
    @each $section in project, post, contact {
        .rp-section-#{$section} & {
            a[data-section='#{$section}']{
                &:after{
                    background-color:$cYellow;
                }
            }
        }
    }

    @media screen and (min-width:$xl) {
        @each $section, $margin in  (project, -36px),
                                    (post, -36px),
                                    (contact, -45px) {
            .rp-section-#{$section} & {
                a[data-section='#{$section}']{
                    &:after{
                        right:$margin;
                    }
                }
            }
        }
    }
}
html:not(.rp-splash){
    .main-nav{
        a:not(.raw){
            &.is-active{
                &:after{
                    background-color:$cYellow;
                }
            }
        }
    }
}