.rp-cta{
    @extend .background-poly;
    @extend .background-poly--cover;
    padding:0 0.7em;
    &:after{
    	transition:100ms;
    }
    &:hover{
        &:after{
            right:-5%;
        }
    }
    &:active{
        &:after{
            transform:skewX(0deg);
        }
    }
}